.dot {
    height: 25px;
    width: 25px;
    border: 10px solid green;
    border-radius: 50%;
    display: inline-block;
  }

  #orangeBox {
    background: #f90;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
   table {
      border-collapse: collapse;
    }
    
     td {
      border: 2px solid black;
      margin: 0px;
    } 
    td:first-of-type {
      border-left: 0px solid blue
    }
    td:last-of-type {
      border-right: 0px solid blue
    }
   tr:first-child td {
     border-top: none;
   }
   tr:last-child td {
    border-bottom: none;
  }
  td