.dot {
    height: 25px;
    width: 25px;
    border: 10px solid green;
    border-radius: 50%;
    display: inline-block;
  }
body{
  background: rgba(233, 231, 133,0.5);
}
.container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  /* margin-left: 3pc; */
  margin-left: auto;
  margin-right: auto;
  /* display: table; */
}


.player1container{
  border: 2px solid blue;
  width: 150px;
}
.player2container{
  border: 2px solid red;
  width: 150px;
  
}
.resetButton{
  border: 2px solid green;
}
h5 {
  /* margin-bottom: 5px; */
  
}
h2{
  /* margin-top: 5px; */

}

  #orangeBox {
    background: #f90;
    color: #fff;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
   table {
      border-collapse: collapse;
      text-align: center;
      /* background: rgba(245, 234, 132,0.7) */
    }
    table.center {
      margin-left:auto; 
      margin-right:auto;
    }
  
     td {
      border: 8px solid  rgba(255, 187, 0, 0.541);;
      margin: 0px;
      height: 100px;
      width: 100px;
      text-align: center;
      color: rgb(7, 218, 190);
      font-family: 'Alfa Slab One', cursive;
      font-size: 40px

    } 
    
    td:first-of-type {
      border-left: 0px solid blue
    }
    td:last-of-type {
      border-right: 0px solid blue
    }
   tr:first-child td {
     border-top: none;
   }
   tr:last-child td {
    border-bottom: none;
  }
  /* h5 {
    display: inline;
    text-align: center;
  }
  h2 {
    
    margin-left: 20px;
    display: inline-flex;
        justify-content: center;
  } */

  svg {
    animation: 2s linear infinite svg-animation;
    max-width: 50px;
  }
  

  @keyframes svg-animation {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg)
    }
  }
  

  circle {
    animation: 1.4s ease-in-out infinite both circle-animation;
    display: block;
    fill: transparent;
    stroke: #2f3d4c;
    stroke-linecap: round;
    stroke-dasharray: 283;
    stroke-dashoffset: 280;
    stroke-width: 10px;
    transform-origin: 50% 50%;
  }
  

  @keyframes circle-animation {
    0%,
    25% {
      stroke-dashoffset: 280;
      transform: rotate(0);
    }
    
    50%,
    75% {
      stroke-dashoffset: 75;
      transform: rotate(45deg);
    }
    
    100% {
      stroke-dashoffset: 280;
      transform: rotate(360deg);
    }
  }